body {
    background-color: black;
}

.poster {
    width: 50%;
    margin-left: 25%;
    font-family:"Libre Baskerville", serif;
}

h1 {
    text-transform: uppercase;
    color: aliceblue;
    text-align: center;
}

p {
    color: aliceblue;
    text-align: center;
}

#motivation-img {
    width: 100%;
    border: 5px  solid white;
    margin-top: 10%;

}